<p id="notice"><%= notice %></p>
<p>SHOWING STUFF</p>
  <strong>Title:</strong>
<p>
  <%= @diary.title %>
</p>

  <strong>Body:</strong>
<p>
  <%= @diary.body %>
</p>

  <strong>Image:</strong>
<p>
  <%= image_tag @diary.image %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
